@using animetflix.Models.Entities
@model List<Genero>

<h1>Lista de Géneros</h1>
<div class="form-group">
    <a asp-controller="generos" asp-action="create" class="btn btn-info">Agregar Género</a>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        @if (Model.Count() > 0)
        {
            <table class="table table-hover table-dark table-stripped">
                <thead>
                    <tr>
                        <th>Opciones</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var genero in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="generos" asp-action="edit" asp-route-id="@genero.Id" class="btn btn-success">Editar</a>
                                <a asp-controller="generos" asp-action="delete" asp-route-id="@genero.Id" class="btn btn-danger">Eliminar</a>
                            </td>
                            <td>@genero.Nombre</td>
                        </tr>   
                    }
                </tbody>
            </table>
        } else {
            <h3>No existen géneros para mostrar</h3>
        }
    </div>
</div>
