:root {
  --primary: #111854;
  --light: #ffffff;
  --grey: #efefef;
}

#sidebar-container {
  min-height: 95vh;
}

#sidebar-container .logo {
  padding: .875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

.bg-primary {
  background-color: var(--primary) !important;
}

body {
  overflow: hidden;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 300;
  color: var(--primary);
}

a:hover {
  text-decoration: none;
}

.gradient {
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(75,134,180,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(75,134,180,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(75,134,180,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(75,134,180,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(75,134,180,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(75,134,180,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4b86b4', GradientType=0 );
}
