@using animetflix.Models.DTOs
@model List<PersonajeDTO>

<h1>Lista de Personajes</h1>
<div class="form-group">
    <a asp-controller="Personajes" asp-action="Create" class="btn btn-info">Agregar Personaje</a>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        @if (Model.Count() > 0)
        {
            <table class="table table-hover table-dark table-stripped">
                <thead>
                    <tr>
                        <th>Opciones</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var personaje in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Personajes" asp-action="Edit" asp-route-id="@personaje.Id" class="btn btn-success">Editar</a>
                                <a asp-controller="Personajes" asp-action="Delete" asp-route-id="@personaje.Id" class="btn btn-danger">Eliminar</a>
                            </td>
                            <td>@personaje.Nombre</td>
                        </tr>   
                    }
                </tbody>
            </table>
        } else {
            <h3>No existen personajes para mostrar</h3>
        }
    </div>
</div>
